<div class="character-sheet">

    <!-- NAME AND BIO -->
    <h1 ng-bind="characterSheetVM.character.getDisplayName()"></h1>
    <div class="description" ng-bind="characterSheetVM.character.getDescription()"></div>

    <!-- CHARACTER TRAITS -->
    <div class="specialties">
        <specialty ng-repeat="specialty in characterSheetVM.character.getSpecialties()"
                specialty="specialty"></specialty>
    </div>
    <div class="flaws">
        <flaw ng-repeat="flaw in characterSheetVM.character.getFlaws()"
                flaw="flaw"></flaw>
    </div>

    <!-- DEFENSE POINTS -->
    <div class="hit-points" ng-bind="characterSheetVM.character.getHitPoints()"></div>
    <div class="resolve-points" ng-bind="characterSheetVM.character.getResolvePoints()"></div>

    <!-- ABILITIES -->
    <div class="abilities">
        <ability ng-repeat="ability in characterSheetVM.abilities"
                ability="ability">
        </ability>
    </div>

</div>