<div class="character-trait">

    <div class="display-name">
        <span ng-bind="characterTraitVM.characterTrait.getDisplayName()"></span>
    </div>
    <div class="description">
        <span ng-bind="characterTraitVM.characterTrait.getDescription()"></span>
    </div>
    <div class="ability-modifiers">
        <ability-modifier ng-repeat="abilityModifier in characterTraitVM.characterTrait.getAbilityModifiers()"
                          ability-modifier="abilityModifier">
        </ability-modifier>
    </div>
    <div class="attribute-modifiers">
        <attribute-modifier ng-repeat="attributeModifier in characterTraitVM.characterTrait.getAttributeModifiers()"
                            attribute-modifier="attributeModifier">
        </attribute-modifier>
    </div>

</div>
