@import "__chaffers";
@import "__chaffers_colours";
@import "__character_trait";
@import "__flexies";

character-sheet {
  .character-sheet {
    outline: 1px solid $important-text-colour;
    padding: $base-padding;
    width: 100% - ($base-padding * 2);

    .character-sheet-section {
      padding: $base-padding;
    }

    .character-name-section {
      .character-name {
        @include unique-title-font();
        margin: 0;
      }
    }
    .character-biography {
      .description {
        @include flavour-text-font();
      }
    }

    .attributes {
      width: 100%;
      attribute {
        width: 100%;
        .attribute {
          display: inline-block;
        }
      }
      .modified-attribute-value {
        display: inline-block;
      }
    }

    .check-contexts {
      width: 100%;
    }

    .abilities {
      width: 100%;
      character-ability {
        @include character-trait-block();
        .character-ability {
          position: relative;
          ability {
            .ability {

            }
          }
          .modifier {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
    }

    .character-traits-container {
      width: 100%;
      flaw, specialty {
        @include character-trait-block();
      }
    }

  }
}