@import "__chaffers_colours";
@import "__flexies";
@import "__handies";

die {
  border-radius: 6px;
  display: block;
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 50px;

  .die-display {
    @include absolute-fill();
    background-color: $die-background-colour;
    background-position: center center;
    background-size: contain;

    &.die-display-1 {
      background-image: url(/static/img/icons/dice/dice-six-faces-one.svg);
    }
    &.die-display-2 {
      background-image: url(/static/img/icons/dice/dice-six-faces-two.svg);
    }
    &.die-display-3 {
      background-image: url(/static/img/icons/dice/dice-six-faces-three.svg);
    }
    &.die-display-4 {
      background-image: url(/static/img/icons/dice/dice-six-faces-four.svg);
    }
    &.die-display-5 {
      background-image: url(/static/img/icons/dice/dice-six-faces-five.svg);
    }
    &.die-display-6 {
      background-image: url(/static/img/icons/dice/dice-six-faces-six.svg);
    }
  }
}