<div class="character-sheet">

    <!-- NAME AND BIO -->
    <div class="character-bio">
        <h1 class="character-name"
            ng-bind="characterSheetVM.character.getDisplayName()"></h1>
        <div class="description" ng-bind="characterSheetVM.character.getDescription()"></div>
    </div>

    <dice-roller></dice-roller>

    <!-- CHECK CONTEXTS -->
    <div class="check-contexts">
        <h2 class="check-contexts-header">Current Context</h2>
        <check-context-selector
                selected-check-contexts="characterSheetVM.selectedCheckContexts">
        </check-context-selector>
    </div>

    <!-- ATTRIBUTES (Resolve and Health) -->
    <div class="attributes">
        <h2 class="attributes-header">Attributes</h2>
        <character-attribute ng-repeat="attribute in characterSheetVM.attributes"
                             attribute="attribute"
                             character="characterSheetVM.character">
        </character-attribute>
    </div>

    <!-- ABILITIES -->
    <div class="abilities">
        <h2 class="abilities-header">Abilities</h2>
        <character-ability ng-repeat="ability in characterSheetVM.abilities"
                           ability="ability"
                           character="characterSheetVM.character"
                           check-contexts="characterSheetVM.selectedCheckContexts">
        </character-ability>
    </div>

    <!-- CHARACTER TRAITS -->
    <div class="character-traits-container specialties">
        <h2 class="specialties-header">Specialties</h2>
        <specialty ng-repeat="specialty in characterSheetVM.character.getSpecialties()"
                specialty="specialty"></specialty>
    </div>
    <div class="character-traits-container flaws">
        <h2 class="flaws-header">Flaws</h2>
        <flaw ng-repeat="flaw in characterSheetVM.character.getFlaws()"
                flaw="flaw"></flaw>
    </div>

</div>