{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="chaffers" ng-strict-di>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0; maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
        <title>
            {% block title %}Chaffers{% endblock %}
        </title>
    </head>
    <body>
        {% csrf_token %}

        <!-- Header Block -->
        {% block header %}
            <div class="header">
                <player-panel
                    {% if is_authenticated %}
                        player-data="{{ player_data }}"
                    {% endif %}
                ></player-panel>
            </div>
        {% endblock %}

        <!-- Block Content -->
        {% block content %}{% endblock %}

        <!-- Scripts -->
        <script type="text/javascript" src="{% static 'javascript/main.min.js' %}"></script>

        <!-- Google Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Stalemate' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,800,800italic,700italic' rel='stylesheet' type='text/css'>

        <div class="disclaimers">
            Icons made by Lorc, Delapouite, John Colburn, Felbrigg, John Redman, Carl Olsen, sbed, PriorBlue, Willdabeast, Viscious Speed, Lord Berandas, Irongamer, HeavenlyDog, Lucas, Faithtoken, Skoll and Various artists from game-icons.net. Available on <a href="http://game-icons.net">"http://game-icons.net"</a>.
        </div>
    </body>
</html>
