<div class="description"
     ng-bind="characterTraitVM.characterTrait.getDescription()">
</div>
<div class="ability-modifiers">
    <ability-modifier ng-repeat="abilityModifier in characterTraitVM.characterTrait.getAbilityModifiers()"
                      ability-modifier="abilityModifier">
    </ability-modifier>
</div>
<div class="attribute-modifiers">
    <attribute-modifier ng-repeat="attributeModifier in characterTraitVM.characterTrait.getAttributeModifiers()"
                        attribute-modifier="attributeModifier">
    </attribute-modifier>
</div>